{% extends 'base.html.twig' %}

{% block title %}{{  wish.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="title is-5">Le souhai'ket en détail !</h1>

    <table class="table my-6">
        <tbody>
        <tr>
            <td><span class="icon"><i class="fas fa-user"></i></span></td>
            <th>Auteur</th>
            <td>{{ wish.author }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="far fa-question-circle"></i></span></td>
            <th>Titre</th>
            <td>{{ wish.title }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="fas fa-info-circle"></i></span></td>
            <th>Description</th>
            <td>{{ wish.description }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="fas fa-sitemap"></i></span></td>
            <th>Catégorie</th>
            <td>{{ wish.category.name }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="far fa-calendar-check"></i></span></td>
            <th>Publié le</th>
            <td>{{ wish.dateCreated|date("d/m/y") }}</td>
        </tr>
        </tbody>
    </table>



    <div class="columns">
        <div id="reactionForm" class="column is-one-third">
            {{ form_start(reactionForm) }}
            {{ form_row(reactionForm.username) }}
            {{ form_row(reactionForm.message) }}
            <button>Soumettre</button>
            {{ form_end(reactionForm) }}
        </div>
        <div class="column is-two-thirds">

            {% for reaction in wish.reactions %}
                <div class="card mt-4">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="subtitle is-6">@{{ reaction.username }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ reaction.message }}
                            <br>
                            <time datetime="">{{ reaction.dateCreated|date("d/m/y") }}</time>
                            <br>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="notification is-info is-light">Oups... Personne n'a de commentaire...!</div>
            {% endfor %}

        </div>
    </div>

{% endblock %}