{% extends 'base.html.twig' %}

{% block title %}{{  wish.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="title is-5">Le souhai'ket en détail !</h1>

    <table class="table my-6">
        <tbody>
        <tr>
            <td><span class="icon"><i class="fas fa-user"></i></span></td>
            <th>Auteur</th>
            <td>{{ wish.author }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="far fa-question-circle"></i></span></td>
            <th>Titre</th>
            <td>{{ wish.title }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="fas fa-info-circle"></i></span></td>
            <th>Description</th>
            <td>{{ wish.description }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="fas fa-sitemap"></i></span></td>
            <th>Catégorie</th>
            <td>{{ wish.category.name }}</td>
        </tr>
        <tr>
            <td><span class="icon"><i class="far fa-calendar-check"></i></span></td>
            <th>Publié le</th>
            <td>{{ wish.dateCreated|date("d/m/y") }}</td>
        </tr>
        </tbody>
    </table>





    <div id="reactionForm">
        {{ form_start(reactionForm) }}
        {{ form_widget(reactionForm) }}
        <button>Soumettre</button>
        {{ form_end(reactionForm) }}
    </div>





{% endblock %}