{% extends 'base.html.twig' %}

{% block title %}Nos souhaits{% endblock %}

{% block body %}
    <h1 class="title is-5">Nos souhai'ket-Liste !</h1>

    <div>
        {% for wish in wishes %}
            {% if wish.isPublished %}
            <div class="card mt-4">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-5"><a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }}</a></p>
                            <p class="subtitle is-6">@{{ wish.author }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ wish.description }}
                        <br>
                        <time datetime="">{{ wish.dateCreated|date("d/m/y") }}</time>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
