{% extends 'base.html.twig' %}

{% block title %}Nos souhaits{% endblock %}

{% block body %}

    <section>
        <h1 class="title is-5">Nos souhai'ket-Liste !</h1>

        <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
            {% if currentPage > 1 %}
            <a class="pagination-previous" href="{{ path('wish_list', {'page': currentPage-1}) }}">Précédent</a>
            {% endif %}
            {% if (currentPage * 20) < totalResultCount %}
            <a class="pagination-next" href="{{ path('wish_list', {'page': currentPage+1}) }}"  >Suivant</a>
            {% endif %}
            <ul class="pagination-list">
                {% if currentPage > 1 %}
                <li>
                    <a class="pagination-link" href="{{ path('wish_list',  {'page': pageStart}) }}" aria-label="Goto page 1">{{ pageStart }}</a>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a class="pagination-link" href="{{ path('wish_list',  {'page': currentPage -1}) }}" aria-label="Goto page 45">{{ currentPage -1 }}</a>
                </li>
                {% endif %}

                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ currentPage }}</a></li>

                {% if currentPage < pageEnd %}
                <li>
                    <a class="pagination-link" href="{{ path('wish_list',  {'page': currentPage +1}) }}" aria-label="Goto page 47">{{ currentPage +1 }}</a>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <a class="pagination-link" href="{{ path('wish_list',  {'page': pageEnd}) }}" aria-label="Goto page 86">{{ pageEnd }}</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% for wish in wishes %}
            <div class="card mt-4">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-5"><a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }}</a></p>
                            <p class="subtitle is-6">@{{ wish.author }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ wish.description }}
                        <br>
                        <time datetime="">{{ wish.dateCreated|date("d/m/y") }}</time>
                        <br>
                        <p class="mx-2 my-2">
                            <span class="icon has-text-link"><i class="fas fa-thumbs-up mr-3"></i></span>
                            {{ wish.likes }}
                        </p>

                    </div>
                </div>
            </div>
        {% else %}
            <div>Oups... Personne n'a d'idée...!</div>
        {% endfor %}

    </section>
{% endblock %}
