<!doctype html>
<html lang="fr">
<head>
    {#
        Meta :
        encodage UTF-8 Html5
        Responsive
        informations aux vieux navigateurs web IE
    #}
    <meta charset="UTF-8">
    <meta name="description" content="liste de choses à faire avant de mourir !" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#
        Google Fonts : Open Sans Condensed
        CSS
        framework BULMA
        Javascript
    #}
    <link rel="stylesheet"  type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    <script src="{{ asset('js/appJs.js') }}" defer></script>
    {#
        flavicon
        Title
    #}
    <link rel="icon" type="image/gif" href="{{ asset('icon/favicon.png') }}" />
    <title>{% block title %}Bucket-List{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar my-5" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ path('main_home') }}">
                        <img src="{{ asset('icon/logo.png') }}" width="30" height="30">
                        <span class="has-text-black has-text-weight-medium ml-2">Bucket-List</span>
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ path('main_about_us') }}">
                            Nous connaitre
                        </a>
                        <a class="navbar-item" href="{{ path('wish_list') }}">
                            Mes souhaits
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
    <footer class="footer mt-5">
        <div class="content has-text-centered">
            &copy; Bucket-List - {{ "now"|date("Y") }}
        </div>
    </footer>
</body>
</html>
